# Dependencies
node_modules/
server/node_modules/

# Environment secrets
.env
server/.env

# Database (auto-created on server)
server/db/*.db
server/db/*.db-journal

# Uploaded files
uploads/
invoices/
backups/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
server/db/*.db-shm
server/db/*.db-wal
